<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-body" id="contact-us">
    <div class="form-group">
      <%= label_tag :name %>
      <%= form.text_field :name, id: :product_name, class: "form-control", :required => true %>
    </div><!-- /form-group -->
    <div class="form-group">
      <%= label_tag :description %>
      <%= text_area_tag :description, id: :product_description, nil, class: "form-control", :required => true %>
    </div><!-- /form-group -->
    <div class="form-group">
      <%= label_tag :image_url %>
      <%= form.text_field :image_url, id: :product_image_url %>
    </div><!-- /form-group -->
    <div class="form-group">
      <%= label_tag :color %>
      <%= text_field_tag :color, nil, class: "form-control", :required => true %>
    </div><!-- /form-group -->
    <div class="form-group">
      <%= label_tag :price %>
      <%= text_field_tag :price, nil, class: "form-control", :required => true %>
    </div><!-- /form-group -->
    <%= submit_tag "Submit", class: "btn btn-default btn-primary btn-block" %>
  </div><!-- end form-body -->

<% end %>