<h1>Product Details</h1> 

<p id="notice"><%= notice %></p>

<div class="container-fluid" id="product-details-page">
  <div class="row">
    <div class="col-md-6">
      <div id="product-details"><%= image_tag(@product.image_url, class: "img-responsive") %></div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div id="product-details"><%= @product.name %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="product-details"><%= @product.description %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="glyphicon glyphicon-usd"></span>
          <div id="product-details"><%= @product.price %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="product-details"><strong>Color:</strong></div>
          <div id="product-details"><%= @product.color %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><span id="product-details">Average Rating: </span><div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= form_with(url: '/payments/create') do |form| %> 
            <%= render partial: "shared/stripe_checkout_button" %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'new_comment' %>

<%= render 'comments' %>

<%= will_paginate @comments %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>