<h1>Product Details</h1> 

<p id="notice"><%= notice %></p>

<div class="container-fluid" id="product-details-page">
  <div class="row", data-product-id="<%= @product.id %>">
    <div class="col-md-6">
      <div class="product-details"><%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %></div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="product-details"><%= @product.name %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="product-details"><%= @product.description %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="product-details"><%= number_to_currency(@product.price, :precision => 2) %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="product-details"><strong>Color:</strong></div>
          <div class="product-details"><%= @product.color %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><span class="product-details" id="average-rating">Average Rating: </span><div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= form_with(url: '/payments/create') do |form| %> 
            <%= render partial: "shared/stripe_checkout_button" %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'new_comment' %>

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

<%= render 'comments' %>

<%= will_paginate @comments %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>